body {
  background: #d7d7d7 url('../images/bg.png') 0 0 repeat;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  margin: 0;
}

#container {
  width: 700px;
  margin: 0 auto;
  background: transparent url('../images/gradient.png') top center no-repeat;
  min-height: 500px;
}

h1, h2 {
  text-align: center;
}

h1 {
  color: #004892;
  font-size: 55px;
  margin-top: 0;
  padding-top: 100px;
}

h2 {
  font-size: 25px;
  font-weight: normal;
}

h2 span {
  background: transparent url('../images/underline.png') 0 26px no-repeat;
}